/********** Template CSS **********/
:root {
  --primary: #F19F1F;
  --secondary: #101010;
  --light: #EEF9FF;
  --dark: #090601;
  --success: #39f31d;
  --failed: #ff0a0a;
  --mygradient: linear-gradient(45deg, #ff0000, #0000ff);
}

/* jasraj css  */



/* footer start */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #EEECEB;
} */


footer {
  /* position: fixed; */
  background: #343A40;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  /* border-bottom: 1px solid white; */
}

.content .top .logo-details img {
  color: #fff;
  width: 115px;
  height: 97px;
  flex-shrink: 0;
  position: relative;
  left: 40px;
}

.link-boxes {
  width: 100%;
}

.link-boxes img {
  width: 115px;
  height: 97px;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
  color: var(--primary);
  text-decoration: underline;
}

/*  */
footer .bottom-details {
  width: 100%;
  background: #343A40;
  /* border-top: 1px solid #ffffff; */
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}



/* footer end  */

/*.c-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  left: 17%;
}*/

.mega-dropdown .nav-pills a.active {
  background-color: #fff !important;
}

.mega-dropdown .nav-pills a.nav-link {
  font-weight: 700 !important;
  color: var(--dark) !important;
}

.block {
  width: 40px;
  height: 7px;
  background: rgb(214, 214, 214);
  /* padding: 9px; */
  margin-bottom: 11px;
}

.card-test {
  /* width: 315px; */
  /* Adjust the width to fit three cards per row */
  height: auto;
  /* background-color: #f0f0f0; */
  /* border-radius: 8px; */
  overflow: hidden;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, .2); */
  /* margin-right: 34px; */
  margin-bottom: 30px;
}

.card-test img {
  /* width: 315px; */
  height: 248px;
}

/* .card-content {
    padding: 16px;
} */

.card-content p {
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card-content .card-head {
  color: #0A142F;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}

.card-content .know-more {
  display: inline;
  /* padding: 8px 16px; */
  color: #040404;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
  /* Smooth transition on hover */
}

.card-content a>p:hover {
  color: rgb(255, 179, 0);
  /* Change text color to yellow on hover */
}


/* Solution Dropdown Cards */
/* Mega Dropdown Container */

.mega-dropdown {
  width: 98vw;
  position: absolute;
  top: 100%;
  /* Position dropdown below the navbar */
  left: 36px;
  /* Center horizontally */
  transform: translateX(-50%);
  /* Adjust for centering */
  display: none;
  /* Hide dropdown by default */
  z-index: 1000;
  /* Ensure dropdown is above other elements */
  overflow-y: auto;
  height: 100vh;

}

/* Show dropdown when parent li is hovered */
.navbar-nav .nav-item.dropdown:hover .mega-dropdown {
  display: block;
}

/* Solution Dropdown Cards */
.mega-dropdown .card1 {
  border: none;
  transition: all 0.4s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  width: 315px;
  height: 390px;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.mega-dropdown .card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mega-dropdown .card1 .card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* width: 100%; */
}

.mega-dropdown .card1 .card-container {
  padding: 20px;
}

.mega-dropdown .card1 .card-title {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 10px;
}

.mega-dropdown .card1 .card-text {
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}



.upload {
  font-size: x-small;
  position: relative;
  /* left: 39%; */
  /* top: -15%; */
}

/* .container .text-center{
    margin-top: -10px;
    color: #ffffff;
} */
.about-gradient {
  width: 520px;
  height: 300px;
  background-image: linear-gradient(to right, var(--primary), rgb(241, 73, 35));
  position: relative;
  left: 17%;
}

.container {
  align-items: center;
  justify-content: center;
}

.container h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.case-gradient {
  width: 500px;
  height: 300px;
  background-image: linear-gradient(to right, var(--primary), rgb(241, 73, 35));
}

.test1 {
  font-size: 1rem;
  width: 700px;
  margin-bottom: 10px;
  position: relative;
  left: -55px;
  list-style: inside;
}

.ol-test {
  position: relative;
  right: 22px;
  font-size: 1rem;
}

.para1 {
  padding: 30px 0 30px 0;
  font-size: 18px;
}



/* mycontent */
.main-ceo {

  flex-shrink: 0;
  border-radius: 25px;
  padding: 40px 0 80px 0;
  /* text-align: center;
    align-items: center; */
}

.main-ceo img {
  width:20px; height:450px;
  box-shadow: -20px -20px rgb(255, 155, 73);
  border: 1px solid rgb(255, 155, 73);
  background: #E7E6E4;
}

.main-text {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* width: 560px; */
  height: auto;
  line-height: 150%;
  position: relative;
  /* left: 50%; */
  /* margin-top: -400px; */
  padding-bottom: 100px;
  /* display: inline-block;
vertical-align: middle; */
  color: #6b6a6a;
}

.full-container {

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;

}

.full-card {
  position: relative;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: middle;
  padding: .5rem;
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.thecard:hover {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  background: #E7E6E4;
  color: #333;
  text-align: center;
  border: 1px solid rgb(240, 189, 255);
}

.text-block {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.76);
  color: rgb(0, 0, 0);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  background: linear-gradient(98deg, #DECF37 0.62%, #F2A024 18.19%, #D13375 42.79%, #4186E0 73.72%);
  color: #333;
  transform: rotateY(180deg);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.theback p {
  padding: 25px;
  position: relative;
  top: 8%;
  justify-content: center;
  align-items: center;
}

/* socials  */
.social ul {
  display: flex;
  position: absolute;
  top: 73%;
  left: 7%;
  /* transform: translate(-50%, -50%); */
}

.social ul li {
  list-style: none;
}

.social ul li a {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.45);
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  margin: 0 60px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 1;
}

.social ul li a .icon {
  position: relative;
  color: #ffffff;
  transition: .5s;
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.social ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social ul li a:hover:before {
  top: 0;
}

.social ul li:nth-child(1) a:before {
  background: #3b5999;
}

.social ul li:nth-child(2) a:before {
  background: #55acee;
}

.social ul li:nth-child(3) a:before {
  background: #0077b5;
}

.social ul li:nth-child(4) a:before {
  background: #dd4b39;
}

/* social end */

/* jasraj end  */

/*** Spinner ***/
.spinner {
  width: 40px;
  height: 40px;
  background: var(--primary);
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

body {
  font-family: 'Montserrat', serif;
  overflow-x: hidden;
}


/*** Heading ***/
h1,
.fw-bold {
  font-weight: 750 !important;
}

h2 {
  font-size: 60px !important;
  font-weight: 550 !important;
}


h3,
h4,
.fw-semi-bold {
  font-weight: 400 !important;
}

h5,
h6,
.fw-medium {
  font-weight: 500 !important;
}

a {
  text-decoration: none !important;
  font-weight: 300;
  font-size: medium;
}

a.text-light {
  font-size: 14px !important;
  font-weight: 200;
  font-family: 'Montserrat', serif;
}

p.footer-text {
  font-size: 14px !important;
  font-weight: 200;
  font-family: 'Montserrat', serif;
}

.bottom-footer-link {
  color: var(--light);
  padding-right: 8px;
}

a.bottom-footer-link :hover {
  color: var(--primary) !important;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-top: #686868 2px solid;
}

/*** Button ***/

.btn {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  transition: .5s;
}

.btn-primary,
.btn-secondary {
  color: #FFFFFF;
  box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  border: var(--primary);
}

.btn-primary:hover {
  /* box-shadow: inset 0 0 0 0 var(--dark); */
  background-color: var(--dark);
}

.btn-secondary:hover {
  background-color: var(--primary);
}

.btn-dark:hover {
  background-color: var(--primary);
}

.text-success {
  color: var(--success);
}

.text-failed {
  color: var(--failed);
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.btn-book {
  border-radius: 25px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  font-family: 'Montserrat', serif;
  position: relative;
  margin-left: 8px;
  padding: 10px 8px;
  font-size: 18px;
  font-weight: 500;
  transition: .5s;
  box-shadow: inset 0 0 0 0 var(--secondary);
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  text-decoration: none;
  margin-left: 8px;
  padding: 10px 8px;
  color: var(--dark) !important;
  box-shadow: inset 0 0 0 0 var(--secondary);

}

.dk-img {
  display: none;
}

.sticky-top.navbar-dark .wh-img {
  display: none;
}

.sticky-top.navbar-dark .dk-img {
  display: block;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  text-decoration: none;
  color: var(--primary) !important;
  /* background-color: #F19F1F; */
  border-radius: 6px;
}

.navbar-dark .navbar-brand h1 {
  color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}


.nav-item a {
  color: var(--light) !important;
}

.dropdown {
  padding-bottom: 10px !important;
}

.dropdown-menu .dropdown-item a:hover {
  color: var(--primary) !important;
}

.dropdown-menu .dropdown-item a {
  color: var(--dark) !important;
}

video {
  width: 100% !important;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
    position: relative;
    background: #FFFFFF;
  }

  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    color: var(--dark);
  }

  .navbar-dark .navbar-brand h1 {
    color: var(--primary);
  }

  .nav-item a {
    color: var(--dark) !important;
  }

  .wh-img {
    display: none;
  }

  .dk-img {
    display: block;
  }
}


@media (min-width: 992px) {
  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, .1);
    z-index: 999;
  }

  .sticky-top.navbar-dark {
    position: fixed;
    background: #FFFFFF;
  }

  .navbar-dark .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);

    transition: .5s;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: var(--dark);
  }

  .navbar-dark .navbar-nav .nav-link:hover::before,
  .navbar-dark .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }

  .navbar-dark .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }

  .sticky-top.navbar-dark .navbar-brand h1 {
    color: var(--primary);
  }

  .block-content {
    margin-right: 15px;
  }

  /* .header-top {
        margin-top: 0px;
        height:300px;
    } */
}



/*** Carousel ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 30, 62, .7);
  z-index: 1;
}


@media (max-width: 945px) {
  .social-icons {
    display: none;
  }

  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: var(--dark);
  }

  .header-top {
    margin-top: 0px;
    height: 400px;
  }

  h2.display-1 {
    font-size: 20px !important;
  }

  h2 {
    font-size: 20px !important;
  }

}


@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: var(--dark);
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }

  h2.display-1 {
    font-size: 16px !important;
  }

  h2 {
    font-size: 16px !important;
  }

  /* .header-top {
        margin-top: 0px;
        height:300px;
    } */
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}


/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0px;
  background: #FFFFFF;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
  0% {
    left: 0;
  }

  50% {
    left: 145px;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }

  50% {
    left: 50%;
    margin-left: 45px;
  }

  100% {
    left: 50%;
    margin-left: -75px;
  }
}

@-webkit-keyframes section-title-run-sm {
  0% {
    left: 0;
  }

  50% {
    left: 85px;
  }

  100% {
    left: 0;
  }
}

/* About Us */
.about-jurney {
  position: relative;
  text-align: center;
  width: 100%;
}

.about-jurney .timeline {
  position: absolute;
  width: 25%;
  font-size: 12px;
}

.about-jurney .jurney-left-2020 {
  top: 80px;
  left: 10px;

}

.about-jurney .jurney-left-2022 {
  top: 310px;
  left: 10px;

}

.about-jurney .jurney-left-2024 {
  top: 540px;
  left: 10px;

}

.about-jurney .jurney-right-2021 {
  top: 110px;
  left: auto;
  right: 10px;

}

.about-jurney .jurney-right-2023 {
  top: 303px;
  left: auto;
  right: 10px;

}

/*** Service ***/
.service-item {
  position: relative;
  height: 300px;
  padding: 0 30px;
  transition: .5s;
}

.service-item .service-icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 2px;
  transform: rotate(-45deg);
}

.service-item .service-icon i {
  transform: rotate(45deg);
}

.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -48px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}

.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
}

.service-feature {
  border-top-left-radius: 25px;
  padding: 10px;
}

.ser-feature-card {
  border-radius: 25px;
  min-height: 400px;
  margin-top: 100px;
  box-shadow: 2px 2px 4px 2px rgba(255, 201, 92, 0.2), 4px 6px 20px 2px rgba(255, 202, 121, 0.19);
}

.feature-faq {
  border-radius: 25px;
  border-color: var(--primary);
  box-shadow: 2px 2px 4px 2px rgba(255, 201, 92, 0.2), 4px 6px 20px 2px rgba(255, 202, 121, 0.19);
}

/* Staffing */
.staff-left {
  background-color: var(--dark);
}

.staff-right {
  background-color: var(--primary);
}

.img-border {
  border: 2px solid var(--primary);
  border-radius: 90px;
}

.staffing-card {
  border-radius: 5px;
  min-height: 400px;
  margin-top: 40px;
  box-shadow: 20px 20px 40px 20px rgba(255, 201, 92, 0.2), 4px 6px 20px 2px rgba(255, 202, 121, 0.19);
}

/* service pie slice */

.ser-slice {
  cursor: pointer;
}

.line {
  z-index: 99;
  position: relative;

}

.ser-slice,
.ser-slice img {
  height: 220px;
}

.slice1 {
  rotate: 180deg;
  position: absolute;
  left: 265px;
  top: 60px;
}

.slice2 {
  rotate: -120deg;
  position: absolute;
  top: 0px;
  left: 427px;
}

.slice3 {
  rotate: 300deg;
  position: absolute;
  top: 110px;
  left: 560px;
}

.slice4 {
  rotate: 60deg;
  position: absolute;
  top: 338px;
  left: 370px;
}

.slice5 {
  rotate: 120deg;
  position: absolute;
  top: 230px;
  left: 235px;
}

.slice6 {
  rotate: 360deg;
  position: absolute;
  top: 280px;
  left: 532px;
}

/* .slice1 {
  rotate: 180deg;
  position: absolute;
  left: 33.125%;
  top: 60px;
}

.slice2 {
  rotate: -120deg;
  position: absolute;
  top: 0px;
  left: 53.375%;
}

.slice3 {
  rotate: 300deg;
  position: absolute;
  top: 110px;
  left: 70%;
}

.slice4 {
  rotate: 60deg;
  position: absolute;
  top: 338px;
  left: 46.25%;
}

.slice5 {
  rotate: 120deg;
  position: absolute;
  top: 230px;
  left: 29.375%;
}

.slice6 {
  rotate: 360deg;
  position: absolute;
  top: 280px;
  left: 66.5%;
} */



/* .titile h5 {
    font-weight: 600;
    width: 110px;
    color: var(--light);


} */


.titile h6 {
  font-weight: 800;
  width: 110px;
  color: var(--light);
  /* position: relative;
    top: 10px; */

}

.ser-slice .slice1-text {
  rotate: 180deg;
  position: absolute;
  left: 178px;
  top: 110px;
}

.slice2-text {
  rotate: 120deg;
  position: absolute;
  top: 26px;
  left: 168px;


}

.slice3-text {
  rotate: -300deg;
  position: absolute;
  top: 28px;
  right: 120px;

}

.slice4-text {
  rotate: -60deg;
  position: absolute;
  top: 0px;
  right: 122px;

}

.slice5-text {
  rotate: -120deg;
  position: absolute;
  top: 60px;
  right: 70px;
}

.slice6-text {
  rotate: 360deg;
  position: absolute;
  top: 50px;
  left: 80px;
}

.slice-box {
  border-radius: 10px;
  border: 1px solid var(--primary);
  background-color: #fff;
  box-shadow: 2px 2px 4px 2px rgba(246, 187, 68, 0.2), 4px 6px 20px 2px rgba(255, 170, 43, 0.19);
  padding: 20px;
  margin-left: 30px;
}

.pie-slice-hover {
  width: 250px;
  font-size: 12px;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background: #DDDDDD;
  border-radius: 5px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  width: 10px;
  background: var(--primary);
}

.testimonial-carousel .owl-item.center {
  position: relative;
  z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: #FFFFFF !important;
  box-shadow: 0 0 30px #DDDDDD;
}

.testimonial-msg {
  width: max-content !important;
}


/*** Team ***/
.team-item {
  transition: .5s;
}

.team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.team-social a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

/* .team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
} */

.team-item:hover .team-social {
  background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .15s;
}

/* .team-item .team-img img, */
.blog-item .blog-img img {
  transition: .5s;
}

.blog-item p.blog-small-desc {
  /* height: 140px; */
}

/* .team-item:hover .team-img img, */
.blog-item:hover .blog-img img {
  transform: scale(1.15);
}

a.blog-link:hover {
  background-color: var(--dark) !important;
  color: var(--primary) !important;
  border-radius: 45px;
  padding: 10px 14px;
}

.team-card {
  position: relative;
  border-radius: 35px;
  padding: 20px;
  min-height: 200px;
  box-shadow: 10px 10px 10px 10px rgba(246, 187, 68, 0.2), 4px 6px 20px 2px rgba(255, 170, 43, 0.19);
  width: 40%;
}

/* .image {
    display: block;
    width: 100%;
    height: auto;
  } */

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffb845ee;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 25px;

}

.overlay .social-btn {
  position: absolute;
  bottom: 0px;
  top: auto;
}

.team-card:hover .overlay {
  width: 100%;
}

.ove-text {
  font-size: 16px;
  padding: 10px;

  /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  /* white-space: nowrap; */
}

.ove-text p {
  font-weight: 600;
}


/* /Brands */
.brand-logo {
  align-items: center;
  padding: 20px 30px;
}

.brand-logo img.brand-img {
  width: 110px !important;
}

.brand-logo img.brand-img-big {
  width: 100px !important;
}

.column-line {
  /* padding: 0 10px 0 10px; */
  border-right: 0.5px solid #dbdbdb;
}

.row-line ,.row-line1 , .row-line2 {
  border-top: 0.5px solid #dbdbdb;
}



/* Footer */
.footer {
  margin-bottom: 0px !important;
}

.footer-about {
  margin-bottom: 0px;
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
  .facts {
    position: relative;
    margin-top: -75px;
    z-index: 1;
  }
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.bg-header {
  background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.link-animated a {
  transition: .5s;
}

.link-animated a:hover {
  padding-left: 5px;
  color: var(--primary) !important;
}

.link-animated a.active {
  color: var(--primary) !important;
  background-color: var(--dark) !important;
}

.social-link a {
  transition: .5s;
  color: var(--primary);
}

.social-link a:hover {
  color: var(--dark) !important;
}

.social-link a.active {
  color: var(--primary) !important;
  background-color: var(--dark) !important;
}

@media (min-width: 767.98px) {
  .footer-about {
    margin-bottom: 0px;
  }
}

/* /Custom */
.bg {
  background-color: var(--primary);
}

.bg-primary {
  background-color: #FEFBF5 !important;
}

.btn-outline-light {

  border: #F19F1F;
  box-shadow: inset 0 0 0 0 var(--primary);
}

.text-primary {
  color: var(--primary) !important;
}

a.text-primaryv:hover {
  color: var(--dark) !important;
}

.case-content {
  /* border: #F19F1F 1px solid; */
  /* max-height: 550px; */
  border-radius: 6px;
  box-shadow: inset 0 0 0 0 var(--primary);
}

.case-content .case-content-img {

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  max-height: 550px;
}

/* .header-carousel {
    margin-top: 100px;
} */

.getin-touch {
  margin: 5px;
}

.getin-content {
  max-height: 650px;
  border-radius: 6px;
  box-shadow: inset 0 0 0 0 var(--primary);
}

.getin-content .getin-content-img {
  /* margin-right: -30px; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  max-height: 650px;
}

.form-input-rounded {
  border-radius: 6px;
  margin: 10px;
  min-height: 45px;
}

.form-input-textarea {
  /* border-radius: 15px; */
  border-radius: 6px;
  margin: 10px;
  min-height: 45px;
}

.form-rounded {
  padding: 2px;
  border: 0.5px solid #DDDDDD;
  border-radius: 45px !important;
}

/* jasraj career page  */
.col-8 input[type="file"]::file-selector-button {
  background-color: var(--primary);
  border-radius: 30px;
  border: .5px solid rgb(161, 118, 0);
  margin-left: 15px;
}

.col-8 input[type="file"]::file-selector-button:hover {
  background-color: rgb(255, 166, 0, 0.8);
  border: .5px solid rgb(161, 118, 0);
  color: white;
  cursor: pointer;
}

/* jasraj career page end  */
.input-form {
  margin-bottom: 5px;

}

.input-form-bg,
.input-form-bg:focus {
  background-color: #101010;
}

.form-rounded-serach {
  padding: 2px;
  border: 0.5px solid #fdcc90;
  border-radius: 45px !important;
}

.input-form-serach-bg {
  border: none !important;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(233, 192, 136, 0.2), 2px 2px 2px 2px rgba(248, 192, 120, 0.19);
}

.rounded-blog-category {
  border-radius: 45px !important;
  background-color: var(--primary) !important;
  color: #fff !important;
}

.input-form-bg:focus {
  border: none !important;
}

.btn-sm {
  size: 10px !important;
}

.box-shadow {
  box-shadow: 2px 2px 4px 2px rgba(246, 187, 68, 0.2), 4px 6px 20px 2px rgba(255, 170, 43, 0.19);
  text-align: center;
  border-radius: 30px;
}

.blog-box-shadow {
  box-shadow: 2px 2px 4px 2px rgba(246, 187, 68, 0.2), 4px 6px 20px 2px rgba(255, 170, 43, 0.19);
  text-align: center;
  border-radius: 30px;
}

.btn-arrow-icon {
  margin: 2px;
}

.input-start-icon {
  padding: 4px 8px 0 8px;
}

.input-search-1 {
  padding: 4px 8px 0 8px;
  background-color: #dbdbdb;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-bottom: 40px;
  margin-right: 2px;
  background-color: #dbdbdb;
}

.carousel-indicators li.active {
  background-color: var(--primary);
}


/* USP */
img.ups-img:hover {
  transform: scale(1.15);

}

.card {
  /* jasraj's change*/
  /* position: relative;
        top: 20%;
        left: 15%; */
  border-radius: 18px;

  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.active {
  opacity: 1;
  transition: all 0.3s;
}

.center {
  opacity: 1;


}

/* Processs */

.process-img img:hover {
  transform: scale(1.05);
}

/* .process-svg {
        transform: scale(1.05);
    } */

.process-item {
  z-index: 1;
}

.process-item:hover {
  transform: scale(1.05);
}

.pitem1 {
  margin-top: -70px;
  margin-left: 50px;
}

.pitem2 {
  margin-left: 20px;
}

.pitem3 {
  margin-top: -70px;
  margin-left: 20px;
}

.pitem4 {
  margin-left: 20px;
}

.pitem5 {
  margin-top: -70px;
  margin-left: 20px;
}


/* //blogs */
/* .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
        display: block !important;
    } */
.blogs-carousel .owl-dots {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.blogs-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background: #DDDDDD;
  border-radius: 5px;
  transition: .5s;
}

.blogs-carousel .owl-dot.active {
  width: 10px;
  background: var(--primary);
}

.blogs-carousel .owl-item.center {
  position: relative;
  z-index: 1;
}

.blogs-carousel .owl-item.center .vendor-item {
  background: #FFFFFF !important;
  box-shadow: 0 0 30px #DDDDDD;
}

.blog-share a {
  width: 30%;
   background-color: var(--primary);
  color: var(--dark) !important;
  color: #fff !important;
}

/*.blog-share a:hover {
  background-color: var(--primary);
  color: var(--dark) !important;
}*/


p.blog-slug {
  font-size: 16px;
}

p.blog-slug a {
  color: var(--primary);
  font-size: 20px;
}

p.blog-slug a:hover {
  color: var(--light)
}


/* Contact  */
.contact-card {
  padding: 20px;
  min-height: 180px;
  box-shadow: 10px 10px 10px 10px rgba(246, 187, 68, 0.2), 4px 6px 20px 2px rgba(255, 170, 43, 0.19);
}

h6.contact-text,
h4.contact-text {
  font-weight: 700 !important;
}

h4.blog-title {
  font-weight: 700 !important;
  font-size: 20px;
}

h6.contact-items {
  font-size: 14px !important;
}

a.link-map:hover {
  color: var(--dark) !important;
}

/* Approach */

.item {
  width: 300px;
  text-align: center !important;
  justify-items: center;
}

.item:hover {
  transform: scale(1.05);
}

.approach-img:hover {
  transform: scale(1.05);
}

p.ivt-text {
  font-size: 12px !important;
}

/* Pagination */
.page-item1 a {
  border-radius: 25px !important;
  margin: 2px;
  color: #EEF9FF;
  background-color: var(--primary) !important;
}

.page-item2 a {
  border-radius: 25px !important;
  margin: 2px;
  color: #000000;
  background-color: #FFFFFF !important;
}




.word-spacing-15 {
  word-spacing: 15px;
}

.xxlarge-title {
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -2px;
  font-family: inherit;
}

.mobile-dropdown{
  width: 100%;
  padding: 15px;
  margin: 15px;
  background-color: #FEFBF5;
  margin-top: 0px;
  border: 0px;
}
.mobile-dropdown i{
  position: absolute;
  right: 10px;
  top: 10px;
}
.mobile-dropdown li{
  font-weight: 600;
  padding: 5px;
  position: relative;
}
@media only screen and (max-width: 1199px) {

  .xlarge-title {
    font-size: 65px;
  }

  .xxlarge-title {
    font-size: 85px;
  }

}

@media only screen and (max-width: 999px) {


  .xlarge-title {
    font-size: 55px;
  }

  .xxlarge-title {
    font-size: 70px;
  }

}

@media only screen and (max-width: 767px) {

  .xlarge-title {
    font-size: 45px;
  }

  .xxlarge-title {
    font-size: 50px;
  }

}

@media only screen and (max-width: 549px) {

  .xlarge-title {
    font-size: 38px;
  }

  .xxlarge-title {
    font-size: 42px;
  }


}

.navbar-nav li:hover>ul.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}

/* rotate caret on hover */
.dropdown-menu>li>a:hover:after {
  text-decoration: underline;
  transform: rotate(90deg);
}

/* header corosal */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}



/* Career */
.career-box-title {
  box-shadow: 2px 2px 4px 2px rgba(246, 187, 68, 0.2), 4px 6px 20px 2px rgba(255, 170, 43, 0.19);
  text-align: center;
  border-radius: 30px;
}

.title-box {
  padding: 6px 14px;
  font-size: 12px;
  border: none;
  width: 270px;
  border-radius: 35px;
  border-color: #686868;
  background-color: #F1F3F9;
}

.cereer-search-btn {
  margin-right: 5px;
  margin-top: 2px;
  border-radius: 45px !important;
  padding: 12px;
}

.btn-primary:hover {
  background-color: var(--dark) !important;
  border-color: var(--dark) !important;
}

/* accordian */
.card-header .title {
  font-size: 18px;
  color: #000;
  font-weight: 650;
}

.card-header .accicon {
  float: right;
  font-size: 20px;
  width: 1.2em;
}

.card-career .title {
  font-size: 18px;
  color: #000;
  font-weight: 650;
}

.card-career .accicon {
  float: right;
  font-size: 20px;
  width: 1.2em;
}

.card-header,
.card-career {
  cursor: pointer;
  border-bottom: none;
}

.card {
  width: 100% !important;
  border: 1px solid #ddd;
}

.card-body {
  border-top: 1px solid #ddd;
  height: 300px;
}
.card-body .card-text{
  font-size: 15px;
  text-align: center;
}
.card-body .card-title{
  text-align: center;

}
/* .card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
} */
.acoord-btn {
  margin-top: -35px;
}

.rounded-career-btn {
  border-radius: 45px !important;
  background-color: var(--dark) !important;
  color: #fff !important;
}

.rounded-career-arrow {
  border-radius: 45px !important;
  background-color: var(--primary) !important;
  color: #fff !important;
}

/* .accordion .card-header :not(.career) {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
} */
.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

/* oems */
.oem-search-box {
  box-shadow: 2px 2px 4px 2px rgba(246, 187, 68, 0.2), 4px 6px 20px 2px rgba(255, 170, 43, 0.19);
  text-align: center;
  border-radius: 30px;
}

.oem-search-input {
  width: 100%;
  border-radius: 25px;
  border-color: white !important;
}

.oems-card {
  margin-right: 4px;
  margin-bottom: 14px;
}

.oems-card a.active h5 {
  color: var(--light) !important;
}

.oems-card img {
  width: 100%;
  height: 100%;
}

.oems-b {
  height: 80px;
}

.oem-gradient-right {
  position: absolute;
  margin-top: 55px;
  width: 90%;
  min-height: 420px;
  z-index: 0;
  margin-left: 32px;
  background-image: linear-gradient(to right, var(--primary), rgb(241, 73, 35));
}

.oem-gradient-left {
  position: absolute;
  margin-top: 55px;
  width: 90%;
  min-height: 420px;
  z-index: 0;
  margin-left: -25px;
  background-image: linear-gradient(to right, var(--primary), rgb(241, 73, 35));
}
.exa_img{
  position: relative;
  right: 190%;
}
.oem-img-right {
  position: relative;
  margin-top: 80px;
  width: 100%;
  height: 420px;
  z-index: 99;

}

.oem-img-left {
  position: relative;
  margin-top: 80px;
  width: 100%;
  height: 420px;
  z-index: 99;
}


.oem-titile-tab {
  position: relative;
  /* top: 114%; */
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -0%);
}

.oem-titile-tab h5 {
  background-color: var(--primary);
  color: var(--dark) !important;

}

.oem-titile-tab h5.right-titile {
  border-bottom-right-radius: 15px;
}

.oem-titile-tab h5.left-titile {
  border-bottom-left-radius: 15px;
}

.img-border {}


/*jessy start*/
  .card-image {
        position: absolute;
        right: 20px;
        top: -15px;
        width: 80px;
        height: 96px;
      }
      .triangle-up {
        position: absolute;
        top: 0px;
        left: -14px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 15px solid #6e4600;
      }
.bannerImage {
  width: 100%;
  height: 400px;
  position: relative;
}

.height300 {
  height: 300px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  padding: 1px 10px;
  color: #f19f1f !important;
  background: rgb(255 255 255 / 50%);
  font-weight: 700;
  border-bottom: 2px solid #f19f1f;
  white-space: nowrap;
}
.nav-pills .show{
  opacity: .5;
}

.serviceBannerText {
  font-size: 2rem;
  font-weight: 700;
}

.txtYellow {
  color: #f19434;
}

.navigationPane {
  position: absolute;
  top: 376px;
  z-index: 101;
  width: 100%;
  background: #1211119e;
  padding: 10px;
  overflow: auto;
}

.navigationPane2 {
  position: absolute;
  top: 350px;
  z-index: 101;
  width: 100%;
  background: #0a0a0a9e;
  padding: 10px;
  overflow: auto;
}


/* width */
.navigationPane2::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
.navigationPane2::-webkit-scrollbar-track {
  background: #b3090900;
}

/* Handle */
.navigationPane2::-webkit-scrollbar-thumb {
  background: #dedede;
}

/* Handle on hover */
.navigationPane2::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

.widthFitContent {
  width: fit-content;
}

.hFull {
  height: 100%;
  object-fit: cover;
}

.posAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  background: #000a3587;
}

.objectFitClass {
  object-fit: contain;
}

.stepsApproach {
  background-color: #f19f1f;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
}

.stepsApproach2 {
  background-color: #f19f1f;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 5px;
}

.cstmButtonBanner {
  width: fit-content;
}

.carousel-indicators {
  height: 20px;
  /* border: 2px solid red; */
}

.serviceHeight {
  min-height: 690px;
}

.cstmImg2 {
  object-fit: cover;
  width: 350px;
  height: 200px;
}

.cstmImg3 {
  width: 394px;
  text-align: justify;
}

.outerBigDiv {
  box-shadow: -5px 0 5px 0 rgba(255, 170, 43, 0.19);
}

.innerBigDiv {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.minH400 {
  min-height: 400px;
}

.minH300 {
  min-height: 300px;
}

.h300 {
  height: 300px;
}

#pills-tabContent .container .img-content{
  min-height: 250px;
}
#pills-tabContent .container .img-content img{
  object-fit: contain;
}
.accordion .card .card-body{
  height: initial;
}
.navbar-nav .nav-item.dropdown:hover .mobile-dropdown{
  display: none;
}
.navbar-nav{
  z-index: 999;
}

@media screen and (max-width: 479px) {
  .spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 10px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {

  /* Your CSS rules for mobile devices go here */
  .ser-slice,
  .ser-slice img {
    height: 130px;
  }

  .slice1 {
    rotate: 180deg;
    position: absolute;
    left: 20px;
    /* 10px + 20px */
    top: 62px;
  }

  .slice2 {
    rotate: -120deg;
    position: absolute;
    top: 24px;
    left: 117px;
    /* 108px + 20px */
  }

  .slice3 {
    rotate: 300deg;
    position: absolute;
    top: 89px;
    left: 198px;
    /* 189px + 20px */
  }

  .slice4 {
    rotate: 60deg;
    position: absolute;
    top: 230px;
    left: 86px;
    /* 75px + 20px */
  }

  .slice5 {
    rotate: 120deg;
    position: absolute;
    top: 166px;
    left: 5px;
    /* -5px + 20px */
  }

  .slice6 {
    rotate: 360deg;
    position: absolute;
    top: 192px;
    left: 182px;
    /* 172px + 20px */
  }



  .slice4-text {
    rotate: -60deg;
    position: absolute;
    top: -8px;
    right: 40px;
  }


  .ser-slice .slice1-text {
    rotate: 180deg;
    position: absolute;
    left: 131px;
    top: 71px;
  }

  .slice2-text {
    rotate: 120deg;
    position: absolute;
    top: -1px;
    left: 125px;
  }

  .slice3-text {
    rotate: -300deg;
    position: absolute;
    top: -20px;
    right: 97px;
  }

  .slice5-text {
    rotate: -120deg;
    position: absolute;
    top: 22px;
    right: 24px;
  }

  .slice6-text {
    rotate: 360deg;
    position: absolute;
    top: 12px;
    left: 33px;
  }

  .titile>h6 {
    font-size: 12px;
  }

  .margin0Sm {
    margin: 0 !important;
  }

  .dFlexSm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  /* .brand-logo img.brand-img {
    width: 50px !important;
  } */

  /* .brand-logo img.brand-img-big {
    width: 40px !important;
  } */

  .about-gradient {
    width: 268px;
    height: 201px;
    background-image: linear-gradient(to right, var(--primary), rgb(241, 73, 35));
    position: relative;
    left: 8%;
  }
  .about-text{
    left: 0px !important
  }

  .aboutUSImg {
    width: 280px !important;
    height: 200px !important;
  }

  .objectFitClass {
    object-fit: cover;
  }

  .acoord-btn {
    margin-top: 0;
    text-align: center !important;
  }

  .card-career .title {
    font-size: 14px;
  }
  .contact-items{
    position: relative;
    left: 50px;
    width: 75%;
  }
  .ytp-cued-thumbnail-overlay-image {
    background-position: center;
    background-repeat: no-repeat;
    width: 20%;
  }
}

.column-line_md1{
  border-right: 0.5px solid #dbdbdb;
}

@media only screen and (max-width:768px) {

  .flex_none{
    display: block !important;
  }

.row-line , .row-line1 , .row-line2 {
  border-left: 0.5px solid #dbdbdb;
}

.row-line1 , .row-line2{
  border-top: 0px solid #dbdbdb;
}

.row-line2{
  border-bottom: 0.5px solid #dbdbdb;
  border-right: 0.5px solid #dbdbdb;
}

.column-line_md1{
  border-right: 0px solid #dbdbdb;
}
.column-line_md{
  border-right: 0.5px solid #dbdbdb;
}

.oem-gradient-right  {

  margin-top: 38px;

}

.oem-gradient-left {

  margin-top: 38px;

}

.oem-img-left , .oem-img-right{
  margin-top: 68px;
}

  .about-jurney.d-none.d-sm-block{
    display: none !important;
  }
  .about-jurney.d-block.d-sm-none{
    display: block !important;
  }
  .experience_advice{
    margin-bottom: 50px;
  }
  .about-gradient-p{
    margin-bottom: 17%;
  }
  .col-md-3.col-sm-6.col-6.mb-2.full-card{
    max-width: 50%;
    flex: 0 0 45%;
  }
  .navbar-nav .nav-item.dropdown:hover .mobile-dropdown{
    display: block;
  }
  .navbar-nav .nav-item.dropdown:hover .mega-dropdown{
    display: none;
  }
  .navigationPane {
    position: absolute;
    top: 338px;
    z-index: 101;
    width: 100%;
    background: #ffffff9e;
    padding: 3px;
    overflow: auto;
  }
  .ytp-cued-thumbnail-overlay-image {
    background-position: center;
    background-repeat: no-repeat;
    width: 202px;
  }

  .navigationPane2 {
    position: absolute;
    top: 358px;
    z-index: 101;
    width: 100%;
    background: #ffffff9e;
    padding: 3px;
    overflow: auto;
  }

  .flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .height300 {
    height: 100%;
  }

  .width200Percent {
    width: 200%;
  }

  .visibilityNone {
    display: none;
  }

  .serviceHeight {
    min-height: 478px;
  }

  .cstmImg2 {
    object-fit: cover;
    width: 100%;
    height: 140px;
  }

  .cstmImg3 {
    width: 100%;
    text-align: justify;
  }

  .outerBigDiv {
    box-shadow: none;
  }

  .minH400 {
    min-height: 100%;
  }

  .minH300 {
    min-height: 100%;
  }

  .h300 {
    height: 100%;
  }

  .slice1 {
    left: 13%
  }

  .slice2 {
    left: 35.7%
  }

  .slice3 {
    left: 54%
  }

  .slice4 {
    left: 27.4%
  }

  .slice5 {
    left: 9%
  }

  .slice6 {
    left: 49.8%
  }
  .main-ceo .social ul{
    padding: 0;
    /* left: -90px; */
  }
  .main-ceo .social{
    left: 30% !important;
  }
}

@media only screen and (max-width: 576px) {
  .main-ceo .social{
    left: 20% !important;
  }
  .blog-post{
    display: grid !important;
  }
  .blogs-carousel .owl-dots{
    margin-top: 0px;
  }
  .main-ceo{
    padding: 0px;
  }
  .about-gradient-p{
    margin-bottom: 0%;
  }
  .col-md-3.col-sm-6.col-6.mb-2.full-card{
    max-width: 90%;
    height: 390px;
    flex: initial;
  }
  .card-body{
    height: auto;
  }
  .offering .position-absolute.wow.zoomIn{
    position: initial !important;
    margin-bottom: 10px;
  }
  .card.p-5{
    padding: 10px !important;
    padding-top: 50px !important;
  }
  .thecard{
    width: 95%;
  }
  .service-feature.bg{
    height: auto !important;
  }
  .blog-box-shadow .d-flex.mb-3{
    display: grid !important;
    text-align: left;
  }
  #blog-share-data-details .row.mx-5.px-4{
    padding: 0px !important;
    margin: 0px !important;
  }
  #blog-share-data-details .row.mx-5.px-4 .col-md-12{
    padding: 0px !important;
  }
  .our_process > div{
    margin-bottom: 5px;
  }
  .main-ceo .social ul {
    left: 75%;
}
#pills-tabContent .container .img-content img {
  position: initial !important;
}
.px-5.owl-carousel.service-feature-carousel.owl-loaded.owl-drag{
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  width: 100%;
}
  .slice1 {
    left: 10%
  }

  .slice2 {
    left: 34.7%
  }

  .slice3 {
    left: 55%
  }

  .slice4 {
    left: 26.6%
  }

  .slice5 {
    left: 6%
  }

  .slice6 {
    left: 51%
  }

  .carousel-item {
    height: 180px;
  }
  .carousel-item img.w-100 {
    object-fit: cover;
    height: 180px;
  }
  .carousel-item video{
    height: 180px;
  }
  .carousel-item p{
    font-size: 12px;
  }
  .carousel-item h2.display-1{
    font-size: 14px !important;
  }
  .carousel-caption .form-rounded .cstmButtonBanner {
    font-size: 12px;
  }
  .carousel-caption .form-rounded a {
    width: 110px;
  }
  .navbar{
    padding: 10px 20px 10px 0px !important;
  }
  .item.py-4.margin0Sm{
    padding: 0px !important;
  }
  .col-md-auto.col-3.brand-logo.column-line, .brand-logo.column-line {
    max-width: 50%;
  }
  .col-md-auto.col-3.brand-logo.column-line img, .brand-logo.column-line img{
   width: 100px !important;
  }
  .case-content .case-content-img{
    margin-right: 0px;
  }
  .mr-4.wow.slideInUp{
    margin-right: 0px !important;
  }
  .card-img-top.getin-content-img{
    display: none;
  }
  .d-flex.align-items-lg-end.align-items-sm-center.justify-content-lg-end.justify-content-sm-center {
    margin: auto 35%;
    margin-top: 10px;
  }
  .main-ceo img {
    width: 100%;
    height: 100%;
  }
  .full-card{
    max-width: 100%;
    flex: 100%;
  }
  .position-relative.px-3{
    padding: 0px;
  }
  .form-input-rounded, .form-input-textarea{
    margin: 0px;
  }
  .btn.btn-dark.form-input-rounded.ml-3.mt-2.px-4.text-center.btn-submit{
    margin:10px;
  }
  .rounded-career-btn{
    position: relative;
    top: 10px;
  }
  .title-box{
    width: 250px;
  }
  .container h1{
    font-size: 24px;
  }
  .blog-share a{
    width: 110px;
  }
  #blog-share-data-details .mt-5{
    margin: 0px !important;
  }
  .offerings .text-justify{
    text-align: left !important;
  }
}

@media only screen and (max-width: 375px) {

  .oem-gradient-right {
    margin-left: 22px;
  }


  #blog-share-data-details #blog-share-data .d-flex.mb-3.pb-2{
    display: grid !important;
    text-align: left;
  }
  .main-ceo .social ul {
    left: 25%;
}
  .slice1 {
    left: 5%
  }

  .slice2 {
    left: 32.7%
  }

  .slice3 {
    left: 56%
  }

  .slice4 {
    left: 23.6%
  }

  .slice5 {
    left: 0%
  }

  .slice6 {
    left: 51.5%
  }
}

@media only screen and (max-width: 320px) {
  .img-fluid.w-50.p-5{
    padding: 30px !important;
  }
  .social ul {
    left: 2%;
  }

  .case-content .btn.btn-primary.rounded-pill.py-3.px-5.wow.zoomIn{
    padding: 15px 30px !important;
  }
  .main-ceo .social ul {
    left: -25%;
}
  .slice1 {
    left: 3%;
    top: 70px;
  }

  .slice2 {
    left: 31%;
    top: 40px;
  }

  .slice3 {
    left: 54%;
    top: 96px;
  }

  .slice4 {
    left: 21%;
    top: 213px;
  }

  .slice5 {
    left: -2%;
    top: 157px;
  }

  .slice6 {
    left: 49.5%;
    top: 183px;
  }

  .ser-slice,
  .ser-slice img {
    height: 110px;
  }
  .titile>h6 {
    font-size: 11px;
  }
  .titile h6 {
    width: 85px;
  }
  .ser-slice .slice1-text{
    left: 105px
  }
  .ser-slice .slice2-text{
    top: 12px;
    left: 125px;
  }
  .ser-slice .slice3-text{
    top: 0px;
    left: 60px;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  /* Your CSS rules for small devices go here */
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* Your CSS rules for medium devices go here */

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Your CSS rules for large devices go here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Your CSS rules for extra large devices go here */
}

/*jessy end*/
/* 31-5-24 start */

.blog-data p{
	margin-top: 0cm;
	margin-right: 0;
	margin-bottom: 1rem;
	text-align: justify;
	line-height: 1.5;
	font-weight:1.5rem;
	font-family: 'Montserrat', serif;
}
.blog-data p span{
	letter-spacing: -0.05pt;
	font-size:1em;
}

/* ends */

/* update css 05-06-2024 start */
.box-shadow.case-content{
	padding: 0 !important;
}
.case__boxes.box-shadow.case-content .col-lg-6.col-sm-12 {
  padding-left: 0;
}
.case__boxes.box-shadow.case-content .col-lg-6.col-sm-12 .card {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.case__boxes.box-shadow.case-content .col-lg-6.col-sm-12 .card .card-img-top {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.case__realtive {
  position: relative;
}
.btn.text-primary.d-flex.flex-row.justify-content-end.upd__seeall {
	position: absolute;
  bottom: 20px;
  right: 40px;
}

.pagina__update .page-item2 {
	margin: 0 5px;
}
.pagina__update .page-item2.active.rounded .page-link {
	background: #f19f1f !important;
	border-radius: 25px;
	color: #fff;
}
.pagina__update .page-link {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: ;
	padding-top: 9px;
}
.pagina__update .page-item1.disabled.rounded .page-link {
	/* background: red; */
	border-radius: 25px;
}

.upl__bl p {
  margin-top: 5px;
}
/* Chrome, Safari, Edge, Opera */
.change__form .career-apply input::-webkit-outer-spin-button,
.get__boxes input,
.change__form .career-apply input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.get__boxes input[type="number"],
.change__form .career-apply input[type="number"] {
	-moz-appearance: textfield;
}

.box__cconnnn .col-lg-6.col-md-6.col-sm-12.my-2 {
	border-top-left-radius: 30px;
	margin: 0 !important;
	padding-left: 0;
	border-bottom-left-radius: 30px;
}
.box__cconnnn .col-lg-6.col-md-6.col-sm-12.my-2 .card-img-top.case-content-img {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.font__manage {
	font-family: 'Montserrat', serif !important;
}
.get__images {
    background-image: url("../img/get-in-touch.png");
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar__head .navbar-nav.mr-auto {
	align-items: end;
}
.navbar__head .nav-item.dropdown {
	padding-bottom: 0 !important;
}
#header-carousel .carousel-indicators {
	bottom: 15px;
}
.btn.text-primary.arrw__update {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 3px;
}
.orange__btn .bi.bi-arrow-right {
	margin-top: -2px;
}
.rounded-career-btn .fas.fa-arrow-right.fw-normal {
	vertical-align: middle;
}

.feature__feq .card-body p {
	margin-bottom: 0;
}
.staffing__feq p {
	margin: 0;
}
.captcha__input {
	font-size: 15px;
}

.blog-share a.button__url {
	background-color: #fff !important;
	color: #f19f1f !important;
	border: 1px solid #f19f1f;
}
/* update css 05-06-2024 End */
